.main-chat
  .main-chat__main-header
    .main-chat__main-header__left
      .main-chat__main-header__left__group
        = @group.name
      .main-chat__main-header__left__member
        member :
        - @group.users.each do |user|
          = user.name
    .main-chat__main-header__right
      .main-chat__main-header__right__icon-box
        = link_to edit_group_path(@group),class: "main-chat__main-header__right__icon-box" do
          Edit 

  .main-chat__messages
    = render @messages
 
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

